
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    display: flex;
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;

}

.side-bar {
    width: 15%;
    background: #052659;
    float: left;
    padding: auto;
}

.middle {
    background: #CADEED;
    width: 60%;
    height: 100%;
    /* display: flex; */
}

.log {
    font-size: 24px;
    font-weight: bold;
    color: #202e44;
    margin-bottom: 20px;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav li {
    padding: 10px;
    cursor: pointer;

}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li:hover {
    background-color: #555;
}

.nav li.active {
    background-color: #e74c3c;
    border-radius:0 10px 0 10px ;
}

.logout-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    /* margin-top: 20px; */
    border-radius: 5px;
    bottom: 5%;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.side-bar .logout {
    position: flex;
    bottom: 5%;
    /* left: 150px; */
    width: 100%;
}

.header {
    border-bottom: 0.1px solid #021024;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: x-small;
    /* background: grey; */
    width: 100%;
    color: #021024;
}

.header div {
    margin: 10%;
}

.choreTable {

    width: 80%;
    height: 60%;
    margin: 10%;
    align-content: center;
    justify-content: center;
}

.table__body {
    overflow-x: auto;
    margin: auto;
    width: 100%
}

table {
    /* width: 60%; */
    /* border-collapse: collapse; */
    margin: auto;
    /* background: #a2c1f1; */
    box-shadow: 2px 2px 2px 2px #dadedf;
    color: #021024;

}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dadedf;
}

thead {
    background-color: #5483b3;
    color: #fff;
    cursor: pointer;
}

th span.icon-arrow {
    display: inline-block;
    margin-left: 5px;
}

#assign {
    display: block;
    /* position: absolute;
top: 50%;
left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #5483b3;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
     margin: 10%;
}

.formLabel span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    color: #021024;
}

form label,
form select,
form input,
form button {
    display: block;
    margin-bottom: 10px;
    color: #052659;

}

form select,
form input {
    width: 100%;
    padding: 10px;
}

form button {
    background-color: #021024;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;

}
form button:hover{
    background-color: #5483b3;
    color: #CADEED;
}

/* Hover effect for buttons */
button:hover,
.logout-btn:hover,
form button:hover {
    background-color: #5483b3;
    color: #CADEED;
}

.left {
    width: 25%;
    background: #CADEED;
}

.addChore {
    margin-top: 50%;
}

.form {
    margin: 10%;
}
#choreAction{
    background: none;
    color: #021024;
    border: none;
    cursor: pointer;
}
